packages/
Debug/
Release/
.nuget/
.vs/
[Bb]in/
[Oo]bj/

_ReSharper.*

*.suo
*.DotSettings
*.user
*.lock.json
*.nuget.props
*.nuget.targets
*.orig
*.userprefs
*.ReSharper.user
*.resharper.user

/GCopLog.txt
**/Utils/*Generator*.cs
**/*.lock.json
**/*.nuget.targets

